/* index.html */
    body{

        background-image: url("background.png");
        background-size: cover;
        overflow-x: hidden;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }    
    .topnav {
        overflow: hidden;
        background-color: pink;
    }
    
    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    
    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    
    /* Style the "active" element to highlight the current page */
    .topnav a.active {
        background-color: #2196F3;
        color: white;
    }
    
    /* Style the search box inside the navigation bar */
    .topnav input[type=text] {
        float: right;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 17px;
    }
    
    /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
    @media screen and (max-width: 600px) {
        .topnav a, .topnav input[type=text] {
            float: none;
            display: block;
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 14px;
        }
        .topnav input[type=text] {
            border: 1px solid #ccc;
        }
    }
    #port1{
        padding:20px; }
    #dp{
	
        margin: auto;
        width: 14%;
        border: 3px solid #FF1493;
        padding: 20px;
        margin-top:3px; 
        margin-bottom:50px;

    }
    
    #content{  
        padding:10px; 
        
        
        margin-left:70px; 
        margin-right:70px; 
        height:100px; 
        margin-top:70px; 
        margin-bottom:70px;
    }

    #footer{
        padding:10px; 
        background-color:pink;
        height:200px; 
        width: 100%;
        margin-left: -1%;
        margin-top: -1%; 
        text-align: center 
        
  }
        
     /* end of index.html */
    /* start of about.html */
     #content{
		margin: 4px;
		background-image: url(tenor.gif);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 25%;
		padding: .45%;
	}
	
	#content li{
		display: inline-block;
		padding: .45%;
	}
	
	#b1, #b2, #b3, #b4, #b5, #b6, #b7{
		border: 2px solid;
		border-color: white;
		border-radius: 100px;
		color: #FF1493;
		background-color:#FFB6C1;
		padding: 10px;
		margin-left: 40%;
		margin-top: .45%;
		text-decoration: none;
		text-align: center;
        width: 20%;
        height: 70px;
		font-family: kristen itc;
		font-size: 80%;
		font-weight: bold;
		cursor: pointer;
		
    }
     /* end of about.html */
     /* start of personalinformation.html and educbackground.html */
     #content1{
		margin: 4px;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 61%;
		padding:10px;
    }

    table{
		margin-left: 200px;
		margin-top: 10px;
		padding: 30px;
	}
	
	th{
		color: #FF69B4;
		font-family: consolas;
		font-size: 20px;
	}
	
	td{
		color: #FF1493;
		Font-family: century gothic;
		font-size: 20px; 
	
	}
    /* end of personalinformation.html */
